{% extends 'layout.html'%}

{% block content2 %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
       <p>Hello! This is me! 
          I am a full stack web developer, a tech enthusiast and looking forward to exploring the vast domain of computer science.
       </p>
       <p>I heartily welocome you all to my amazing Blog where we all will discuss about the world's upcoming technologies and also help you to find the tech most suited for you</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
